header {
  text-align: center;
  background-color: black;
  color: azure;
  border-radius: 1ch;
}
main {
  text-align: center;
  flex: 1;
}
aside {
  border: 2px solid black;
  width: 250px;       
  padding: 15px;
  box-sizing: border-box;
  border-radius: 1ch;

}
.contenedor-body {
  display: flex;
  gap: 20px;          
  align-items: flex-start; 
  padding: 20px;
}
